/* peach f16059 */
/* dark blue 4257ad */
/* light blue d0fef5 */
/* teal 4f9ea8 */
/* border e4dfda */

/* border 10 px */
/* block 200px wide  */
/* block 800px height */

/* font-family: 'Oswald', sans-serif; */
/* font-family: 'Quattrocento', serif; */

body {
    width: 420px;
}

.column {
    float: left;
    margin: 0px;
    padding: 0px;
    width: 200px;
}

section {
    float: left;
    margin: 0px;
    text-align: center;
}

section h1 {
    font-size: 20px;
    line-height: 24px;
    padding: 0 10px;
}


p {
    font-size: 18px;
    padding: 0 10px 0 10px;
}

#block1, 
#block8  {
    height: 400px;
}

#block2, 
#block3, 
#block4, 
#block5, 
#block6, 
#block7  {
    height: 200px;
}

#block2, #block4 {
    background-color: #1a8fe3;
}

#block3, #block6 {
    background-color: #e6c229; 
}

#block5, #block7 {
    background-color: #f17105;
}

.serif {
    font-family: 'Comfortaa', cursive;
    color: #e6e6e6;
}

.emph {
    font-weight: bold;
    text-decoration: underline;
}

.sans {
    color: #1D1E2c;
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
}

.tall {
    background-color: #d11149;
    line-height: 24px;
}

.parent {
    border: 10px solid #1D1E2c;
    clear: both: 
    margin: 0px;
    overflow: auto;
    padding: 0px;
    width:400px;
}